.jumbo{
    color: #fff;
    font-family: 'Playfair Display', serif;;
}

.jumbo .h1{
    font-size: 3rem;
    font-weight: 900;
    margin: 5px 0;
}

.jumbo .small{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.media{
    width: 450px;
   
}
.media-icon{
    font-size: 50px;
    color: #f89d36;
}
.media-title{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
}

.card{
    margin-bottom: 5rem;
    width: 18rem;
}